*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.logo{
    margin: 10px;
    width: 200px;
    height: 60px;
    background-image:url(./anh/ảnh\ rikkei);
    background-size: cover ;
}

.menu{
    margin: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    color:black;
}
.menu a:hover{
    border: 1px rgba(84, 86, 155, 60%) rgb(84, 86, 155) ;
    color:#7f82f3;
    border-radius: 10px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.account img{
    margin: 10px;
    width: 80px;
    height: 70%;
    background-image:url(./anh/ảnh\ rikkei);
    background-size: cover ;
    border-radius: 50%;
}
.body{
    background-color: #5651e9;
    text-align: center;
    color:aliceblue;
    padding: 10px 20px;
}
.body p{
    padding: 20px;
}

@media (min-width:480px) and {
    .header{ 
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    
    
}


