*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 600px;
    height: auto;
    padding: 2%;
    margin: 5px 30%;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
}
.header{
    text-align: center;
    margin-top: 20px;
}
.email , .pass{
    margin: 20px;
}
.email input {
    width: 99%;
    padding:5px 10px;
    margin-top:10px ;
    border-radius: 10px;
    border: 1px solid darkgray;
}
.pass input{
    width: 99%;
    padding:5px 10px;
    margin-top:10px ;
    border-radius: 10px;
    border: 1px solid darkgray;
}
.body {
    display: flex;
    justify-content: space-between;
    padding:10px 30px;
}
.body a{
    text-decoration: none;
    color: #0d6efd;
}
button{
    width: 369px;
    height: 30px;
    margin:  10px 15%;
    background-color: #0d6efd;
    color: aliceblue;
}
.footer{
    text-align: center;
    margin: 10px;
}
.footer a{
    text-decoration: none;
    color: #0d6efd;
}