*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 1% ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.logo{
    margin: 10px;
    width: 200px;
    height: 60px;
    background-image:url(./anh/ảnh\ rikkei);
    background-size: cover ;
}

.menu{
    margin: 10px;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu a{
    text-decoration: none;
    color:black;
}
.menu a:hover{
    border: 1px rgba(84, 86, 155, 60%) rgb(84, 86, 155) ;
    padding: 5%;
    color:#7f82f3;
    border-radius: 10px;
    font-size: 110%;
    transition: all 0.7s;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.account img{
    margin: 10px;
    width: 80px;
    height: 70%;
    background-image:url(./anh/ảnh\ rikkei);
    background-size: cover ;
    border-radius: 50%;
}
.body{
    background-color: #5651e9;
    text-align: center;
    color:aliceblue;
    padding: 10px 20px;
}
.body p{
    padding: 20px;
}

.choosen{
    background-color:aliceblue;
    color:black;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
button{
    border-radius: 10px;
    padding: 10px 50px;
    margin: 20px;
    border: 1px solid darkgray;
    
}
button:hover{
    background-color: #5651e9;
    color:aliceblue;
}


@media (max-width:768px) {
    .header{ 
    background-color: aliceblue;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .menu {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    }
    .choosen{
    background-color:aliceblue;
    color:black;
    display: flex;
    gap: 1px;
    flex-direction: column;
    margin: 10px 0px;
    }
    button{
    border-radius: 10px;
    padding: 10px 50px;
    margin: 10px;
    width: 80%;
    border: 1px solid darkgray;
}

}
