
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_card {
    display: flex;
    gap:20px;
    margin-top: 20px;
}
.card {
    text-align: center;
    width: calc((100%-80px)/5);
    background-color: #F9FAFB;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.number {
    padding: 10px 0;
}



@media screen and (max-width:786px) {
    .list_card{
        flex-direction: column;
    }
}
