*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
.container{
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: calc((100% - 80)/3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
}
.top {
    width: 500px;
    position: relative;
}
.top img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.h{
    background-color: #3B82F6;
    padding: 10px;
    border-radius: 10px;
}
.d{
    background-color:#10B981;
    padding: 10px;
    border-radius: 10px;
}
.e{
    background-color:#F59E0B ;
    padding:10px;
    border-radius: 10px;
}
.tag{
    position: absolute;
    left:10px;
    top: 10px;
}
.tag-name {
    font-weight: 700;
    color: white;
    padding: 10px;

}

.tags-name {
    color: #6877F2;
    padding:5px;
    background-color: #F8F9FA;
    margin-left: 40px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 5px;
}
.subject {
    margin-left: 40px;
    text-transform: capitalize;
}
.teacher {
    color: rgba(0, 0, 0, 0.473);
    margin: 0 40px;
}
.progress {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    padding: 20px;
    background-color: #F8F9FA;
    border-radius: 10px;
    
}
.xe {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.xe span{
    font-weight: bold;
    color: #6877F2;
    font-size: 20px;
}
.progress{
    text-align: center;
}
.member{
    display: flex;
    justify-content: space-between;
    color: #3a3838;
    font-weight: 500;
}
.bottom {
    margin:0 40px 40px;
    display: flex;
    gap: 80px;
    align-items: center;
}
.bottom button{
    padding: 16px 32px;
    background-color:#6366F1 ;
    border: none;
    border-radius:10px ;
    color: white;
}
.bottom span{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    
}
.bottom span:hover{
    transition: all 0.3s;
    font-size: 130%;
}
.bottom  button:hover{
    transition: all 0.3s;
    font-size: 120%;
}
.bottom .t{
    background-color: white;
    border: 1px solid #6366F1;
    color: #6366F1;
}
.tick {
    padding: 20px 30px;
    border-radius: 50%;
    background-color: #10B981;
    position: absolute;
    color: white;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
}
.route{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.price {
    display: flex;
    justify-content: flex-start;
}
.price p{
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    color: #6877F2;
}
.price span{
    color: #3a3838;
    font-weight: 100;
    text-decoration: line-through;
}

@media (max-width:786px){
    .container{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        flex: 0 0 100%;
    }
    .card img{
        flex: 0 0 100%;
    }
}
